/* CSS reset */
*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46.4px;
    background-color: #000;
}

#header #navigation {
    
}

#header #navigation li {
    display: inline-block;
    
}

#header #navigation a{
    color: #fff;
    text-decoration: none;
    line-height: 46.4px;
    padding: 0px 24px;
    text-transform: uppercase;
    
}

#header #navigation li:hover a{
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

#header #navigation .child {
    display: none;
}




#slider{

}

#Content{

}

#footer{

}
