/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior:smooth;
}

.clear{
    clear:both;
}

.textwhile{
    color: #fff !important;
}

.btn{
    margin: 15px 0px;
    border: 0px;
    background-color: #000;
    padding: 12px 16px;
    color: #fff;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.float-right{
    float: right !important;
}

.center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}
.mr-2{
    margin-right: 2px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content:"";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.333%;
}   

.col-two{
    width: 50%;
}

.col-full{
    width: 100%;
}
/* main */





#id{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#nav{
    position: relative;
    display: inline-block;
}

#nav>li{
    display: inline-block;
}

#nav>li>a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 46.5px;
    font-size: 15px;
    display: inline-block;
    padding: 0px 24px;
}


#nav .nav-child li:hover a,
#nav>li:hover>a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .nav-child{
    display: block;
}
#nav .nav-child{
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .nav-child a{
    color: #000;
    text-decoration: none;
    min-width: 132px;
    line-height: 38px;
    display: block; 
    padding: 0px 12px;
}

#header .search{
    float: right;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0px 24px;
}

#header .search:hover{
    background-color: #f44336;
    cursor: pointer;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/LamWebThebandAgain/assets/img/slider/chicago.jpg') top center/cover no-repeat;
}

.text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
  
}

.text-heading{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 24px;
}

.text-description{
    font-size: 15px;
}


#content{

}


.content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 74px 16px 100px;

}

.content-heading{
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 30px;

}

.content-sub-heading{
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    font-size: 15px;
}

/* about section */

.about-text{
    text-align: justify;
    margin: 15px 0px;
    font-size: 15px;
    line-height: 1.5;
}


#content .image-list{
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0px;
}

#content .image-list .image{
    border-radius: 4px;
    width: 154px;
}

#content .name{
    margin: 15px;
    font-size: 15px;
}




/* tour section */

.tour-section{
    background-color: #000;
}

.tour-section .calendar{
    padding-top: 30px;
}

.tour-section .calendar-child{
    background-color: #fff;
}

.tour-section li{
    padding: 0px 16px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    line-height: 1.5;
    color: #757575;
    list-style-type: none;
}

.tour-section .status-f{
    margin-left: 16px;
    background-color: #f44336;
    color: #fff;
    line-height: 1.5;
    padding: 4px 8px;

}

.tour-section .status-sc{
    float: right;
    background-color: #000;
    border-radius: 50%;
    line-height: 1.5;
    padding: 0px 8px;
    color: #fff;
    margin-right: 16px;
}

.tour-section .inf .image{
    width: 100%;
    display: block;
}

.tour-section .inf-child{
    background-color: #fff;
    padding: 0.15px 16px;    
}

.tour-section .heading{
    margin-top: 15px;
    font-weight: 550px;
    line-height: 22.5px;
    font-size: 15px;
}

.tour-section .time{
    margin-top: 15px;
    color: #757575;
    font-size: 15px;
}

.tour-section .des{
    margin-top: 15px;
    line-height: 1.5;
    font-size: 15px;
}


.tour-section .inf .image:hover{
    opacity: 0.6;
}


/* contact */

.content-section .contact-content{
    padding-top: 48px;
   
}
.content-section .contact-content .content-child{
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
}

.content-section .contact-content i[class *= "ti-"]{
    width: 30px;
    display: inline-block;
}

.content-section .form-child .form-control{
    border: 1px solid #ccc;
    padding: 10px ;
    width: 100%;
    
}

.content-section .form-child {
    font-size: 15px;
}


.map-section img{
    width: 100%;

}


/* footer */

#footer{
    padding: 64px 16px;
    opacity: 0.9;
}

#footer > .sosical a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 20px;
}

#footer p{
    margin: 15px 0px;
    color: black;
    opacity: 0.6;
    font-size: 14px;
}


#footer p a{
    color: black;
    opacity: 0.8;
} 

#footer > .sosical a:hover{
    opacity: 0.3;
}